<head>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>

<body>
{% include 'header.html' %}
<div class="container">
    <div class="row align-items-center">
        {% for item in users %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ item.login }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nom}} <span style="color: red">{{ item.prenom }}</span></h5>
                       {# <p class="card-text">{{ item.description }}</p>#}
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/chat/chatPage/{{ item.login }}" class="btn btn-primary reserver">Contacter</a>
                            </div>
                            {#<div class="col-md-6">
                                <a href="#" class="btn btn-danger" style="display: none">Supprimer</a>
                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
